{% extends "layout.html" %}

{% block title %}
    Madhu Healthcare Services
{% endblock %}

{% block content %}
<style>
    .card{
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border: none;
        border-radius: 0.5rem;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-color:#EDE7F6;
    }
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }
</style>
    <h1 class="text-center mt-4">Welcome to Madhu Healthcare Services</h1>
    <a class="btn btn-primary mb-4 vinay" href="{% url 'tweet_create' %}">Add Service List</a>

    <div class="container">
        <div class="row">
            {% for tweet in tweets %}
              
                    <div class="col-md-6 mb-4">
                    <div class="card cards">
                      
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="fas fa-user""></i>
                                {{ tweet.user.username }}</h5>
                            <h6 class="card-title"><span style="color: blue;">Name:</span>
{{ tweet.name }}</h6>
                            <p class="card-text"><span style="color: blue;">Description:</span>
{{ tweet.description }}</p>
                            <h5 class="card-title"><span style="color: blue;">Price:</span>
{{ tweet.price}}</h5>
                            {% if tweet.user == user %}
                                <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
                                <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
                            {% endif %}
                          
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

<!-- Custom Styles and Animations -->
<style>
    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border: none;
        border-radius: 0.5rem;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-color:#ffccff; 
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }

    .card-img-top {
        border-bottom: 2px solid #dee2e6;
    }

    .card-body {
        {% comment %} padding: 1.25rem; {% endcomment %}
         padding:1.25 rem;
         
        
    }

    .card-title {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .card-text {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .btn {
        margin-right: 0.5rem;
    }

    .container {
        padding-top: 20px;
    }
  
   
  
</style>
